

.titulo{
    text-align: center;
    color: rgb(78, 51, 51);
    background-color: black;
    padding: 20px;
}

.contenedor{
    text-align: center;
    background-color: azure;
    position: center;
}
.contenedor-peluquería{
    width: 80%;
    text-align: center;
}

.contenedor-pastel{
    width: 80%;
    text-align: center;
}

.contenedor-guardería{
    width: 80%;
    text-align: center;
}