{% extends 'app/base.html' %}

{% load static %}

{% block guard %}
<link rel="stylesheet" href="{% static 'app/css/guarderia.css'%}">


<div class="contenido">
    <div class="articulos">
        <div class="secciones">
          <div>
              <h2>Guarderia</h2>
              <br>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Et quam veniam unde fugiat eligendi, voluptatum cupiditate
                temporibus molestiae ipsam veritatis, sapiente in, aperiam
                iure? Temporibus iure eveniet facilis itaque voluptas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Et quam veniam unde fugiat eligendi, voluptatum cupiditate
                temporibus molestiae ipsam veritatis, sapiente in, aperiam
                iure? Temporibus iure eveniet facilis itaque voluptas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Et quam veniam unde fugiat eligendi, voluptatum cupiditate
                temporibus molestiae ipsam veritatis, sapiente in, aperiam
                iure? Temporibus iure eveniet facilis itaque voluptas!</p>
          </div>
          <div><img src="{% static 'app/img/guarderia-canina.jpg' %}"></div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
              repudiandae possimus magni quae. Rerum ducimus dolores incidunt,
              voluptatem distinctio ea fuga libero. Repellendus cum ab dicta molestias
              culpa tempora earum.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Et quam veniam unde fugiat eligendi, voluptatum cupiditate
              temporibus molestiae ipsam veritatis, sapiente in, aperiam
              iure? Temporibus iure eveniet facilis itaque voluptas!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Et quam veniam unde fugiat eligendi, voluptatum cupiditate
              temporibus molestiae ipsam veritatis, sapiente in, aperiam
              iure? Temporibus iure eveniet facilis itaque voluptas!</p>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
                  repudiandae possimus magni quae. Rerum ducimus dolores incidunt,
                  voluptatem distinctio ea fuga libero. Repellendus cum ab dicta molestias
                  culpa tempora earum.
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Et quam veniam unde fugiat eligendi, voluptatum cupiditate
                  temporibus molestiae ipsam veritatis, sapiente in, aperiam
                  iure? Temporibus iure eveniet facilis itaque voluptas!
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Et quam veniam unde fugiat eligendi, voluptatum cupiditate
                  temporibus molestiae ipsam veritatis, sapiente in, aperiam
                  iure? Temporibus iure eveniet facilis itaque voluptas!</p>
        </div>
    </div>
</div>


{% endblock %}